<template>
  <div class="text-center">
    <div class="loading-wrapper" v-if="!items.length">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
    <slider animation="normal"
            height="640px"
            :auto="false"
            v-if="items.length">
      <slider-item v-for="(item, index) in items" :key="index">
        <div v-if="item.type=='image'">
          <img :src="item.images.standard_resolution.url" />
        </div>
        <div v-if="item.type=='video'">
          <Video :post="item" />
        </div>
      </slider-item>
    </slider>
  </div>
</template>

<script>
import { Slider, SliderItem } from 'vue-easy-slider';
import Video from './Video';

export default {
  name: 'Carousel',
  components: {
    Slider,
    SliderItem,
    Video,
  },
  props: [
    'items',
  ],
};
</script>

<style>
.loading-wrapper {
  line-height: 280px;
}
.slider .btn-left, .slider .btn-right {
  background: initial !important;
  background-color: initial !important;
  box-shadow: initial !important;
}
.slider .btn {
  height: 93%;
}
</style>
