<template>
  <div id="search_form" class="grey lighten-3 pa-3 theme--light">
    <v-form>
      <v-radio-group v-model="radioGroup">
        <v-radio
          label="Place autocomplete"
          value="autocomplete"
          color="primary"
        ></v-radio>
        <v-radio
          label="Search by coordinate"
          value="coordinate"
          color="primary"
        ></v-radio>
      </v-radio-group>
      <div class="input-group input-group--text-field primary--text"
          :class="{ 'input-group--disabled': !isAutocompleteSearch }">
        <div class="input-group__input">
          <gmap-autocomplete
            ref="location"
            placeholder="Enter a location"
            @place_changed="getCoordinate"
            :disabled="!isAutocompleteSearch">
          </gmap-autocomplete>
        </div>
        <div class="input-group__details"></div>
      </div>
      <v-text-field
        v-model="lat"
        label="Lattitude"
        :error-messages="errors.collect('lat')"
        v-validate="'required|min_value:-90|max_value:90'"
        data-vv-name="lat"
        :disabled="isAutocompleteSearch"
        required
      ></v-text-field>
      <v-text-field
        v-model="lng"
        label="Longtitude"
        :error-messages="errors.collect('lng')"
        v-validate="'required|min_value:-180|max_value:180'"
        data-vv-name="lng"
        :disabled="isAutocompleteSearch"
        required
      ></v-text-field>
      <v-select
        :items="items"
        v-model="radius"
        label="Radius (kilometer)"
        :error-messages="errors.collect('radius')"
        v-validate="'required'"
        data-vv-name="radius"
        required
      ></v-select>
      <div class="text-center">
        <v-btn  @click.prevent="clear"
                color="blue-grey"
                class="white--text">
          Reset
        </v-btn>
        <v-btn  @click.prevent="search"
                color="primary"
                :loading="loading"
                :disabled="loading">
          Search
        </v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
import axios from 'axios';
import define from '../config/define';

export default {
  name: 'Form',
  data: () => ({
    items: define.RADIUS_OPTIONS,
    lat: '',
    lng: '',
    loading: false,
    radioGroup: 'autocomplete',
    radius: '',
    searchParams: {
      lat: '',
      lng: '',
      radius: '',
    },
  }),
  computed: {
    isAutocompleteSearch() {
      return (this.radioGroup === 'autocomplete');
    },
  },
  watch: {
    lat(val) {
      this.addSearchCoordinateMakerToMap(this.convertToNumber(val), this.convertToNumber(this.lng));
    },
    lng(val) {
      this.addSearchCoordinateMakerToMap(this.convertToNumber(this.lat), this.convertToNumber(val));
    },
    radius(val) {
      this.updateCircleRadiusOnMap(val);
    },
    radioGroup() {
      this.$validator.reset();
    },
  },
  mounted() {
    this.$refs.location.$refs.input.focus();
  },
  methods: {
    addSearchCoordinateMakerToMap(lat, lng) {
      if (this._.isNumber(lat) && this._.isNumber(lng)
          && lat <= 90 && lat >= -90
          && lng <= 180 && lng >= -180) {
        this.$eventHub.$emit('centered-search-coordinate', lat, lng);
      }
    },
    bindEventsToAnotherComponent(data) {
      this.$eventHub.$emit('visualize-media-on-map', data.data);
      this.$eventHub.$emit('render-list-posts', data);
    },
    bindDataLoading(loading) {
      this.$eventHub.$emit('data-loading', loading);
    },
    clear() {
      this.lat = '';
      this.lng = '';
      this.radius = '';
      this.$refs.location.$refs.input.value = '';
      this.$eventHub.$emit('remove-all-makers');
      this.$validator.reset();
    },
    convertToNumber(value) {
      if ((typeof value === 'string') && !this._.isEmpty(value)) {
        return parseFloat(value);
      }
      return value;
    },
    getCoordinate(place) {
      try {
        this.lat = place.geometry.location.lat();
        this.lng = place.geometry.location.lng();
      } catch (err) {
        this.lat = '';
        this.lng = '';
        this.$swal({
          title: 'Not Found',
          text: 'Can not detect coordinates of your location',
          icon: 'error',
          button: 'CLOSE',
        });
      }
    },
    search() {
      this.$validator.validateAll().then((valid) => {
        if (valid) {
          this.searchParams.lat = this.lat;
          this.searchParams.lng = this.lng;
          this.searchParams.radius = this.radius;
          this.loading = true;
          this.$eventHub.$emit('search-params-info', this.searchParams);
          this.bindDataLoading(true);
          axios.post(`${define.API.BASE_URL}/search`, {
            search: this.searchParams,
          })
            .then((response) => {
              this.bindEventsToAnotherComponent(response.data);
              this.loading = false;
              this.bindDataLoading(false);
            })
            .catch((error) => {
              this.loading = false;
              this.bindDataLoading(false);
              this.$eventHub.$emit('reset-no-data');
              this.$swal({
                title: error.response.data.status,
                text: error.response.data.errors[0],
                icon: 'error',
                button: 'CLOSE',
              });
            });
        }
      });
    },
    updateCircleRadiusOnMap(radius) {
      this.$eventHub.$emit('update-circle-radius', radius);
    },
  },
};
</script>
<style>
#search_form{
  height: 700px;
}
</style>
