<template>
  <gmap-map
    :center="center"
    :zoom="13"
    style="height: 700px"
  >
    <gmap-marker
      :key="i + '-default'"
      v-for="(n, i) in searchMaker"
      :position="n.position"
      :clickable="true"
    ></gmap-marker>

    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :position="m.position"
      :icon.sync="m.icon"
      :clickable="true"
      @click="showPostDetail(m.post)"
    ></gmap-marker>

    <gmap-circle
      :radius="circleRadius"
      :center="circleCenterCoordinate"
      v-if="circleRadius != 0 && hasCircleCenterCoordinate"
    ></gmap-circle>
  </gmap-map>
</template>

<script>
import define from '../config/define';

export default {
  name: 'GoogleMap',
  data() {
    return {
      center: define.DEFAULT_COORDINATE,
      circleRadius: 0,
      circleCenterCoordinate: '',
      markers: [],
      searchMaker: [],
    };
  },
  created() {
    this.$eventHub.$on('centered-search-coordinate', this.centeredSearchCoordinate);
    this.$eventHub.$on('visualize-media-on-map', this.showMediaOnMap);
    this.$eventHub.$on('remove-all-makers', () => {
      this.markers = [];
      this.searchMaker = [];
    });
    this.$eventHub.$on('data-loading', (loading) => {
      if (loading) {
        this.markers = [];
      }
    });
    this.$eventHub.$on('update-circle-radius', (radius) => {
      this.circleRadius = parseInt(radius, 10) * 1000;
    });
  },
  beforeDestroy() {
    this.$eventHub.$off('centered-search-coordinate');
    this.$eventHub.$off('visualize-media-on-map');
    this.$eventHub.$off('remove-all-makers');
    this.$eventHub.$off('data-loading');
    this.$eventHub.$off('update-circle-radius');
  },
  computed: {
    hasCircleCenterCoordinate() {
      return !this._.isEmpty(this.circleCenterCoordinate);
    },
  },
  methods: {
    centeredSearchCoordinate(lat, lng) {
      if (this._.isNumber(lat) && this._.isNumber(lng)) {
        const location = { lat, lng };
        this.searchMaker = [{ position: location }];
        this.center = location;
        this.circleCenterCoordinate = location;
      }
    },
    showMediaOnMap(media) {
      const listMarkers = [];
      this._.forEach(media, (post) => {
        const position = {
          lat: post.location.latitude,
          lng: post.location.longitude,
        };
        const icon = {
          url: post.images.thumbnail.url,
          scaledSize: new window.google.maps.Size(50, 50),
        };
        listMarkers.push({ post, position, icon });
      });
      this.markers = listMarkers;
    },
    showPostDetail(post) {
      this.$eventHub.$emit('show-post-on-modal', post);
    },
  },
};
</script>
