<template>
  <div id="list_instagram_posts">
    <v-container grid-list-md>
      <p class="headline primary--text">List Instagram Posts</p>
      <p class="subheading" v-if="!loading && !hasPosts">No data</p>
      <div class="text-center" v-if="loading">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </div>
      <div v-if="!loading && hasPosts">
        <v-layout row wrap>
          <v-flex xs4 v-for="post in posts" :key="post.id">
            <lazy-component>
              <v-card>
                <v-card-media height="320px"
                              :src="post.images.standard_resolution.url"
                              @click="openPost(post)"
                              :id="post.id">
                  <v-icon v-if="post.type != 'image'" large color="white" class="post-type-icon">
                    {{ postTypeIcon(post.type) }}
                  </v-icon>
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <div class="post-comment">
                      {{ postCaption(post) | truncate(truncateLength) }}
                    </div>
                    <div class="location-info">
                      <span class="caption">at</span>
                      <span class="body-1 light-bold">{{ post.location.name }}</span>
                    </div>
                  </div>
                </v-card-title>
                <div class="text-center">
                  <span class="group pa-3">
                    <v-icon>location_on</v-icon>
                    <span class="title count">{{post.distance.value}} {{post.distance.unit}}</span>
                  </span>
                  <span class="group pa-3">
                    <v-icon>thumb_up</v-icon>
                    <span class="title count">{{post.likes.count}}</span>
                  </span>
                  <span class="group pa-3">
                    <v-icon>mode_comment</v-icon>
                    <span class="title count">{{post.comments.count}}</span>
                  </span>
                </div>
                <v-card-actions class="block text-center">
                  <v-btn flat color="orange"
                              @click.prevent="followUserOnInstagram(post.user)">
                    Follow
                  </v-btn>
                  <v-btn flat color="orange"
                              @click.prevent="gotoPostOnInstagram(post.link)">
                    Explore
                  </v-btn>
                </v-card-actions>
              </v-card>
            </lazy-component>
          </v-flex>
        </v-layout>
        <!-- Pagination -->
        <div class="text-xs-center">
          <v-pagination :length="paginationData.total_pages"
                        :total-visible="totalVisiblePages"
                        v-model="paginationData.current_page"
                        v-if="hasPosts"
                        @input="gotoPage">
          </v-pagination>
        </div>
      </div>
    </v-container>
    <loading
      :show="paginating"
      :label="labelFL">
    </loading>
  </div>
</template>
<script>
import axios from 'axios';
import define from '../config/define';
import Loading from '../../node_modules/vue-full-loading';

export default {
  name: 'List',
  components: {
    Loading,
  },
  data: () => ({
    posts: [],
    paginationData: {},
    page: 1,
    searchParams: {
      lat: '',
      lng: '',
      radius: '',
    },
    totalVisiblePages: define.TOTAL_VISIBLE_PAGES,
    loading: false,
    paginating: false,
    labelFL: 'Loading...',
    truncateLength: define.STRING_TRUNCATE_LENGTH,
  }),
  created() {
    this.$eventHub.$on('render-list-posts', this.renderListPosts);
    this.$eventHub.$on('search-params-info', (searchParams) => {
      this.searchParams = searchParams;
    });
    this.$eventHub.$on('data-loading', (loading) => {
      this.loading = loading;
    });
    this.$eventHub.$on('reset-no-data', () => {
      this.posts = [];
    });
  },
  beforeDestroy() {
    this.$eventHub.$off('render-list-posts');
    this.$eventHub.$off('search-params-info');
    this.$eventHub.$off('data-loading');
    this.$eventHub.$off('reset-no-data');
  },
  computed: {
    hasPosts() {
      return !this._.isEmpty(this.posts);
    },
  },
  methods: {
    renderListPosts(data) {
      this.posts = data.data;
      this.paginationData = data.meta;
    },
    postTypeIcon(type) {
      let iconName;
      if (type === 'video') {
        iconName = 'videocam';
      }
      if (type === 'carousel') {
        iconName = 'collections';
      }
      return iconName;
    },
    postCaption(post) {
      return !this._.isNull(post.caption) ? post.caption.text : '';
    },
    gotoPostOnInstagram(link) {
      window.open(link, '_blank');
    },
    followUserOnInstagram(user) {
      window.open(define.INSTAGRAM_URL + user.username, '_blank');
    },
    gotoPage(page) {
      this.paginating = true;
      axios.post(`${define.API.BASE_URL}/search`, {
        search: this.searchParams,
        page,
      })
        .then((response) => {
          this.posts = response.data.data;
          this.paginationData = response.data.meta;
          this.paginating = false;
          this.$eventHub.$emit('visualize-media-on-map', response.data.data);
        })
        .catch((error) => {
          this.paginating = false;
          this.$swal({
            title: error.response.data.status,
            text: error.response.data.errors[0],
            icon: 'error',
            button: 'CLOSE',
          });
        });
    },
    openPost(post) {
      this.$eventHub.$emit('show-post-on-modal', post);
    },
  },
};
</script>

<style>
#list_instagram_posts {
  margin-top: 20px;
}
.pagination {
  padding: 10px 0 !important;
}
.block {
  display: block !important;
}
.post-type-icon {
  position: absolute;
  top: 2px;
  right: 2px;
}
.count {
  position: relative;
  top: 3px;
}
.location-info {
  padding-top: 5px;
}
.light-bold {
  font-weight: 500;
}
.card__media{
  cursor: pointer;
}
</style>
