<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" width="640px">
      <v-card v-if="hasPost">
        <v-card-title>
          <v-list>
            <v-list-tile avatar>
              <v-list-tile-avatar @click="followUserOnInstagram(post.user)">
                <img v-lazy="post.user.profile_picture" class="lazy-img-fadein">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title  v-html="post.user.username"
                                    @click="followUserOnInstagram(post.user)">
                </v-list-tile-title>
                <v-list-tile-sub-title v-html="post.location.name"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon ripple @click.prevent="gotoPostOnInstagram(post.link)">
                  <v-icon color="grey lighten-1">photo_camera</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card-title>
        <div class="insta-smedia">
          <div v-if="post.type=='image'">
            <img v-lazy="post.images.standard_resolution.url" class="lazy-img-fadein" />
          </div>
          <div v-if="post.type=='video'">
            <Video :post="post" />
          </div>
          <div v-if="post.type=='carousel'">
            <Carousel :items="post.carousel_media" />
          </div>
        </div>
        <v-card-text>{{ postCaption(post) }}</v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import define from '../config/define';
import Video from './Video';
import Carousel from './Carousel';

export default {
  name: 'Modal',
  components: {
    Video,
    Carousel,
  },
  data: () => ({
    post: {},
    dialog: false,
  }),
  created() {
    this.$eventHub.$on('show-post-on-modal', this.showPostOnModal);
  },
  beforeDestroy() {
    this.$eventHub.$off('show-post-on-modal');
  },
  computed: {
    hasPost() {
      return !this._.isEmpty(this.post);
    },
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.$eventHub.$emit('pause-video');
        this.$eventHub.$emit('mute-video');
      } else {
        this.$eventHub.$emit('play-video');
      }
    },
  },
  methods: {
    showPostOnModal(post) {
      this.dialog = true;
      this.post = post;
    },
    followUserOnInstagram(user) {
      window.open(define.INSTAGRAM_URL + user.username, '_blank');
    },
    gotoPostOnInstagram(link) {
      window.open(link, '_blank');
    },
    postCaption(post) {
      return !this._.isNull(post.caption) ? post.caption.text : '';
    },
  },
};
</script>
<style>
.dialog__content .card__title {
  padding: 0;
}
.dialog__content .card__title .list{
  padding: 0;
}
.dialog__content .card__title .list .list__tile__avatar {
  background: linear-gradient(40deg, #f99b4a 15%, #dd3071 50%, #c72e8d 85%);
  width: 44px;
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  margin-right: 8px;
}
.dialog__content .card__title .list .list__tile__title {
  font-weight: 500;
}
.dialog__content .list__tile--link:hover {
  background: #fff !important;
}
.dialog__content .card__title ul.list {
  width: 100%;
}
.dialog__content .list__tile__title, .dialog__content .list__tile__avatar {
  cursor: pointer;
}
</style>
