<template>
  <div class="text-center">
    <v-progress-circular
      indeterminate
      color="primary"
      v-if="waitingVideoLoad">
    </v-progress-circular>
    <div v-show="!waitingVideoLoad">
      <video-player
        class="video-player-box"
        ref="videoPlayer"
        :options="playerOptions"
        :playsinline="false">
      </video-player>
    </div>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css';
import { videoPlayer } from 'vue-video-player';

export default {
  name: 'Video',
  components: {
    videoPlayer,
  },
  props: [
    'post',
  ],
  data() {
    return {
      playerOptions: {
        muted: true,
        autoplay: true,
        loop: true,
        language: 'en',
        preload: 'auto',
        sources: [{
          type: 'video/mp4',
          src: this.post.videos.standard_resolution.url,
        }],
        poster: !this._.isUndefined(this.post.images) ? this.post.images.standard_resolution.url : '',
      },
      waitingVideoLoad: true,
    };
  },
  created() {
    this.$eventHub.$on('pause-video', () => {
      this.$refs.videoPlayer.player.pause();
    });
    this.$eventHub.$on('mute-video', () => {
      this.$refs.videoPlayer.player.muted(true);
    });
    this.$eventHub.$on('play-video', () => {
      this.$refs.videoPlayer.player.play();
    });
  },
  beforeDestroy() {
    this.$eventHub.$off('pause-video');
    this.$eventHub.$off('play-video');
    this.$eventHub.$off('mute-video');
  },
  mounted() {
    setTimeout(() => {
      this.waitingVideoLoad = false;
    }, 1000);
  },
};
</script>
