<template>
  <v-app>
    <v-content>
      <section>
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs3>
              <Form/>
            </v-flex>
            <v-flex xs9>
              <GoogleMap/>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <section>
        <v-flex xs12>
          <List/>
        </v-flex>
      </section>

      <!-- Modal -->
      <Modal />
    </v-content>
    <!-- Footer -->
    <v-footer height="auto" class="blue darken-2">
      <v-layout row wrap align-center>
        <v-flex xs12>
          <div class="white--text ml-3 text-center">
            Wonolo Code Challenge - Instagram Feeds<br/>
            Candidate: ThieuNV
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import Form from './components/Form';
import GoogleMap from './components/GoogleMap';
import List from './components/List';
import Modal from './components/Modal';

export default {
  name: 'App',
  components: {
    Form,
    GoogleMap,
    List,
    Modal,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.text-center {
  text-align: center;
}
.footer{
  padding: 10px 0;
}
.swal-modal {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lazy-img-fadein[lazy=loaded] {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.lazy-img-fadein[lazy=loading] {
  width: 40px!important;
  margin: auto;
}
.lazy-img-fadein[lazy-progressive=true] {
  width: 100%!important;
  margin: auto;
}
.lazy-img-fadein[lazy=error] {
  border-radius: 2px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
</style>
